@mixin spin {
    @keyframes spin{
        0%{
            transform: rotate(-270deg);
        }
        100%{
            transform: rotate(0deg);
        }
    }    
}

@keyframes animation-meals{    
    0%{
        transform: translatey(50%);
        opacity: 0;
        
    }
    100%{
        transform: translateY(0);
        opacity: 1;
        
    }
}  

@keyframes loader-disparition{    
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
} 
@keyframes loader-spinner{    
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} 

