@mixin linear-gradient ($opacity:0.9) {
    background-image: linear-gradient(0deg, rgba(147, 86, 220, $opacity), rgba(255, 121, 218,$opacity));
    
}
@mixin box-shadow ($spread-radius:-3px){
    box-shadow: 2px 1px 8px $spread-radius #000000;    
} 
@mixin transform-zoom {
    transform: scale(1.02);    
}

@mixin restaurants-images-index {
    background-position: center;
    border-radius: 1rem 1rem 0 0;
    height: 15rem;
    background-size: cover;    
}

@mixin coeur-animation{
    position: relative;
    i {
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
      }
      .fa-solid{
          color: transparent;
          @include linear-gradient (1);
          background-clip: text;
          -webkit-background-clip: text;
          opacity: 0;
          transition: all 300ms;
        }    
        &:hover .fa-solid{
            opacity: 1;
            transform: translateY(-50%) scale(1.3);
        } 
}
@mixin button-base {
    border: none;
    padding: 1rem 2rem;
    margin-top: 1rem;
    font-weight: 300;
    font-size: 1.5rem;
    border-radius: 2rem;
    color: white;
    cursor: pointer;  
    transition-duration: 0.25s;
    @include linear-gradient;
    @include box-shadow;  
    &:hover {
        transform: scale(1.05);
        @include linear-gradient($opacity:0.8);
        @include box-shadow($spread-radius:0px);
    }
}

@mixin arrow {
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 1.3rem;
    color: #000;    
}