@use "../utils/variables";
@use "../utils/colors";
@use "../utils/mixins";

.restaurants {
  background-color: #f6f6f6;
  margin-bottom: 2rem;

  .restaurants__menus {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 2rem;
    @media (max-width: variables.$breakpoint) {
      grid-template-columns: repeat(1, 1fr);
    }
    
  }
  .card {
    position: relative;
    text-decoration: none;
    border-radius: 1rem;
    color: inherit;
    background-color: #fff;
    .new {
      background-color: colors.$tertiaire;
      color: #1b6150;
      padding: 0.5rem;
      border-radius: 0.125rem;
      position: absolute;
      top: 1rem;
      right: 0.75rem;
    }
    &__image-1 {
        background-image: url("../images/restaurants/menu1.jpg");
        @include mixins.restaurants-images-index;
      }
      &__image-2 {
        background-image: url("../images/restaurants/menu2.jpg");
        @include mixins.restaurants-images-index;
      }    &__image-3 {
        background-image: url("../images/restaurants/menu3.jpg");
        @include mixins.restaurants-images-index;
      }    &__image-4 {
        background-image: url("../images/restaurants/menu4.jpg");
        @include mixins.restaurants-images-index;
      }

    &__description {
      position: relative;
      background-color: white;
      border-radius: 0 0 1rem 1rem;
      h3,
      p {
        padding: 0.3rem;
      }
      i {
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
      }
      .fa-solid{
          color: transparent;
          @include mixins.linear-gradient (1);
          background-clip: text;
          -webkit-background-clip: text;
          opacity: 0;
          transition: all 300ms;
      }
      &:hover .fa-solid{
          opacity: 1;
          transform: translateY(-50%) scale(1.3);
      }
    }
  }
}
